@import "../../theme/media.scss";

.wrapper {
  grid-area: profile;
  position: relative;
  display: flex;
  background: var(--primary-color);
  justify-content: center;
  align-items: center;

  @include tablet-up {
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    background: transparent;
  }

  @include desktop {
    grid-gap: 1rem;
    grid-template-columns: 1fr 40px;
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: var(--content-background);
  color: var(--nav-anchor-color);
  cursor: pointer;

  &:hover {
    background: var(--content-background-hover);
  }

  &.cursor {
    cursor: pointer;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-bottom: 0;
    border: 1px solid var(--header-color);
    box-sizing: content-box;
  }
}
