@import "../../theme/media.scss";

// styled main
.main {
  grid-area: main;

  height: calc(100vh - 160px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @include tablet-up {
    height: calc(100vh - 160px);
  }
}
