@import "../../theme/media.scss";


// styled credit component
.credit {
  display: none;

  @include tablet-up {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--content-background);
      color: var(--nav-anchor-color) !important;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}