@import "../../theme/media.scss";

.send {
  background: var(--list-header-background);
  padding: 1rem;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 60px;

  position: fixed;
  width: 100%;
  bottom: 80px;

  @include tablet-up {
    position: relative;
    width: auto;
    bottom: auto;
  }
}

.notice {
  font-size: 10px;
  font-style: italic;
  margin: 0;
  padding: 5px 0 0;
}

.login {
  background: var(--primary-color);
  color: var(--header-color);
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .icon {
    margin-left: 5px;
  }

  .icons {
    text-align: right;
  }
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0;
}

.input {
  border: 0;
  outline: 0;
  padding: 0.25rem 0.5rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: var(--background);
  flex-grow: 1;
}

.button {
  border: 0;
  outline: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: var(--primary-color);
  color: var(--header-color);
  cursor: pointer;
  padding: 0 1rem;

  &:disabled {
    background: var(--disabled-button-background);
    color: var(--disabled-button-color);
  }
}
