@import "../../theme/media.scss";

.language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;

  @include tablet-up {
    margin-left: 1rem;
    margin-right: 0;
  }
}

.switcher {
  width: 2.5rem;
  height: 28px;
  background: var(--accent-color);
  color: var(--header-color);
  border-radius: 4px;
  padding: 2px 0;
  transition: 85ms all ease-out;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 85ms ease-out;

  &:hover {
    background: var(--accent-hover);
  }
}
