.wrapper {
  background: #222;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  background: #871909;
  color: white;
  margin: 0;
  padding: 1rem 2rem;
  border-radius: 4px;
}
