@import "../../theme/media.scss";

// tracker styles
.tracker {
  grid-area: event-tracker;
  background: var(--primary-color);
  align-items: center;
  display: none;

  @include tablet-side {
    display: flex;
  }

  .bubble {
    background: var(--accent-color);
    padding: 1px 0.75rem;
    border-radius: 4px;
    color: var(--header-color);
    display: inline-block;
    margin-right: 0.75rem;
  }

  p {
    margin: 0;
  }

  .italic {
    font-style: italic;
  }
}
