@import "../../theme/media.scss";

.wrapper {
    width: 100%;
    height: calc(100vh - 160px);
    position: relative;
    z-index: 2;

    @include tablet-up {
        height: calc(100vh - 160px);
    }

    .leaflet-container {
        height: 100%;
        position: relative;
        z-index: 2;
    }

    svg {
        height: auto; 
        width: auto;
    }
}