@import "../../theme/media.scss";

// styled user
.login-button {
  display: none;

  @include tablet-up {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }

  .logout,
  .login {
    display: none;
    background: var(--accent-color);
    border: none;
    border-radius: 4px;
    padding: 1px 0.75rem;
    outline: none;
    cursor: pointer;
    color: var(--header-color);
    transition: all 85ms ease-out;

    &:hover {
      background: var(--accent-hover);
    }

    @include tablet-up {
      display: block;
    }
  }
}
