@import "../../theme/media.scss";

// styled copyright element
.copyright {
  grid-area: copyright;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  align-items: center;

  &.mobile {
    justify-content: flex-start;
    padding-left: 1rem;
  }

  @include tablet-up {
    display: flex;

    &.mobile {
      display: none;
    }
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 0.25rem;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.cookies {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
  color: var(--anchor-color);
}
