// error message
.error {
  font-style: italic;
  padding: 0.25rem 1rem;
  border-radius: 4px;
  font-size: 0.85rem;
  background: var(--error-background);
  color: var(--error-color);
  border-radius: 4px;
  margin-bottom: 1rem;
}
