@import "../../theme/media.scss";

.wrapper {
  background: var(--content-background);
  display: grid;
  grid-template-columns: 1fr;
  width: 90vw;
  margin: -2rem;
  padding: 2rem;

  @include tablet-up {
    grid-template-columns: 3fr 2fr;
    grid-gap: 2rem;
    width: 50vw;
  }
}
